.card-container a {
    text-decoration: none; /* Remove underline from text */
    color: inherit; /* Make the text color the same as the parent element */
  }
.recipe-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .recipe-card:hover {
    transition: 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.215);
    transform: scale(1.1);
  }

.recipe-img {
    width: 80%; 
    height: 70%;
    object-fit: cover; 
  }
.table-row {
    padding: 10px; /* Add some padding around the text */
  }
.recipe-name {
    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
    text-overflow: ellipsis;
  white-space: nowrap;
  }
.recipe-diet {
    font-size: 15px;
    margin-top: 10px;
    text-overflow: ellipsis; 
  white-space: nowrap;
  }